<div class="head">
  <h1>Is Sachin The Greatest???</h1>
  <div class="video-container">
    <video autoplay loop muted>
      <source src="../assets/sachin_vid.mp4" type="video/mp4">
    </video>
  </div>
</div>
<div class="intro">
  <img class="low_poly" src="../assets/1.png"/>
  
  <p style="width: 42%;"> <span style="text-align:center;">“People throw stones at you and 
    you convert them into milestones.” 
    <br> - 
    Sachin Tendulkar</span><br><br><span style="text-align: justify;"> Tendulkar, the master 
        blaster, is the name that continues to 
    inspire many, not only in India but also all over the world, to take up the sport. He is the 
    cricketer with most centuries scored among all the cricketers and he is the only one to score 
    more than 30,000 runs in the game.<br><br>Sachin was born on 24th April 1973 to a Marathi novelist, 
    Mr. Ramesh Tendulkar, and an insurance professional Mrs. Rajni Tendulkar; he was nicknamed as 
    Tendlya and Little Master</span> </p>
  <div style="clear:left;"></div> 
</div>
<div class="charts">
    <h3>Sachin's Profile</h3>
    <img class="full-chart" src="../assets/1920px-Sachin_Tendulkar_graph.svg.png">
    <svg width="200" height="200"></svg>
</div>
<div class="awards">
    <h2 style="text-align: center;">Sachin's Awards</h2>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="https://igmkolkata.spmcil.com/Interface/Images/Kolkata/bharatratna/medal-1.png">
                <p>Bharat Ratan<br>(2014)</p>
            </div>
            <div class="back"><p>The Bharat Ratna is the highest civilian award of the 
                Republic of India.</p></div>
        </div>
    </div>
    <div class="card-container">
            <div class="card">
                <div class="front">
                    <img src="https://igmkolkata.spmcil.com/Interface/Images/Kolkata/padmaseries/medal-6.png">
                    <p>Padman Vibhushan<br>(2008)</p>
                </div>
                <div class="back"><p>The Padma Vibhushan is the second-highest civilian 
                    award of the Republic of India.</p></div>
            </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front"><p>Maharashtra<br>Bhushan Award<br>(2001)</p></div>
            <div class="back"><p>Maharashtra State's highest Civilian Award.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="https://padmaawards.gov.in/images/shri.png">
                <p>Padma Shri<br>(1999)</p>
            </div>
            <div class="back"><p>India's fourth highest civilian award.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Rajiv Gandhi Khel Ratna<br>(1999)</p>
            </div>
            <div class="back"><p>India's highest honour given for achievement in sports.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Arjuna Award<br>(1994)</p>
            </div>
            <div class="back"><p>Given by the Government of India in recognition of his outstanding 
                achievement in sports.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Man Of the Match x 14<br>(Test Match)</p>
            </div>
            <div class="back"><p>Given to the player with best individual performance during the match.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Man Of the Series x 5<br>(Test Match)</p>
            </div>
            <div class="back"><p>Given to the player with best individual performance during the whole series.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Man Of the Match x 63<br>(ODI Match)</p>
            </div>
            <div class="back"><p>Given to the player with best individual performance during the match.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Man Of the Series x 15<br>(ODI Match)</p>
            </div>
            <div class="back"><p>Given to the player with best individual performance during the whole series.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>Player of the tournament in 2003 Cricket World Cup</p>
            </div>
            <div class="back"><p>Best player during the whole tournament.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>ICC World Test XI x 3<br>(2009, 2010, 2011)</p>
            </div>
            <div class="back"><p>The Bharat Ratna is the highest civilian award of the 
                Republic of India.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>ICC World ODI XI x 3<br>(2004, 2007, 2010)</p>
            </div>
            <div class="back"><p> It recognises the top cricket players from around the world in
                 the ODI format of the game. </p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>ICC Cricketer of the year <br>(2010)</p>
            </div>
            <div class="back"><p>The Sir Garfield Sobers Trophy is a cricket trophy
                 awarded annually by the InternationalCricket Council (ICC) to its
                  chosen world player of the year.</p></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <p>BCCI Cricketer of the Year <br>(2011)</p>
            </div>
            <div class="back"><p> This award recognise and honour the best Indian
                 international cricketer of the past year.</p></div>
        </div>
    </div>
    
</div>
<div class="timeline">
    
  <div class="header"> Sachin's Timeline</div>
  <div class="timeline-item active">
      <div class="year">Apr 24,1973 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Sachin is Born.</div>
  </div>
  <div class="timeline-item">
      <div class="year">FEb, 1989 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Record breaking partnership of 664 with Vinod Kambli in semi-finals of The Harris Shield Tournament.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Dec 11, 1988 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">First Class Debut At The Age of 15.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Nov 15, 1989 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">First Internation Debut At The Age Of 16.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Aug 9, 1990 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Maiden Test Ton.</div>
  </div>
  <div class="timeline-item">
      <div class="year">FEB 1,1992 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Played a sublime innings of 114 in the Perth Test against Aussies.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Jul 1,1992 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Became first-ever overseas cicketer to represent Yorkshire.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Feb 11, 1993 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">First Century at Home.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 27, 1994 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Played as an opener for India for the first time in the ODIs.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Sep 9, 1994 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Scores First ODI ton .</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 13, 1996<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Scored a total of 523 runs in the World Cup which includes two centuries. Also played a major role in India's progress to the semi-finals.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Oct 18, 1996<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">The Captain.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Jun 8, 1999 <span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">8000 ODI Runs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 2, 2000<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">6000 Test Runs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 19, 2000<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">9000 ODI Runs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 31, 2001<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Completes 10K runs in ODIs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Aug 23, 2002<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Surpasses Bradman's Record</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 1, 2003<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Completes 12K ODI runs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 23, 2003<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Made 673 runs in 11 matches in the ICC World Cup – most by any batsman in a single World Cup which helps 
        him win the player of the tournament award.</div>
  </div>
  <div class="timeline-item">
      <div class="year">Mar 16, 2005<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">10K Runs In Tests</div>
  </div>
  <div class="timeline-item">
      <div class="year">Feb 6, 2006<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">14K ODI runs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Sep 14, 2006<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">40th ODI ton. First person to reach this milestone</div>
  </div>
  <div class="timeline-item">
      <div class="year">Feb 5, 2008<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Goes Past 16K runs in ODIs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Oct 17, 2008<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Surpasses Lara and became the highest run-scorer in Test cricket</div>
  </div>
  <div class="timeline-item">
      <div class="year">Nov 5, 2009<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">17,000 runs in ODIs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Feb 24, 2010<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Double ton in ODIs</div>
  </div>
  <div class="timeline-item">
      <div class="year">Dec 10, 2010<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">50th Test ton</div>
  </div>
  <div class="timeline-item">
      <div class="year">Feb 19, 2011<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">Most capped ODI player</div>
  </div>
  <div class="timeline-item">
      <div class="year">Nov 16, 2013<span class="marker"><span class="dot"></span></span>
      </div>
      <div class="info">The Legend Retires</div>
  </div>
</div>
<div class="ending"><p>THE</p> <p>END</p></div>
<router-outlet></router-outlet>